.action-wrap {
    .btn-pick-option {
        width: 100%;
        background: $purple;
        color: white;
        font-size: 2*$s-size;
        font-weight: bold;
        margin: 0 0 $s-size 0;
        padding: 2.4rem;
        border: unset;
        border-bottom: 0.6rem solid darken($purple, 10%);
    }

    @media screen and (min-width: $desktop-width) {
        .btn-pick-option {
            margin: 0 0 $l-size 0;
            font-size: $l-size;      
        }
    }
}