.add-options-wrap {
    padding: $m-size;
    background: $light-blue;

    .error-wrap {
        p { 
            margin: 0;
            padding: 0.5rem;
            // border-bottom: 0.1rem solid lighten($light-blue, 10%);
        }
        margin-bottom: 0.6rem;
    }

    form {
        padding: 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    input {
        flex-grow: 1;
        color: $off-white;
        padding-left: $s-size;
        height: 4rem;
        border: unset;
        margin: 0 0 $s-size 0;
        background: $blue-black;
        border-bottom: 0.3rem solid darken($blue-black, 10%);
    }

    .btn-add-option {
        color: white;
        background: $purple;
        padding: $s-size;
        border-bottom: 0.3rem solid darken($purple, 10%);
    }

    @media screen and (min-width: $desktop-width) {
        form {
            flex-direction: row;
            input {
                margin: 0 $s-size 0 0;
            }
        }
    }
}