.header-wrap {
    background: $off-black;
    text-align: left;
    color: white;
    margin:0 0 $m-size 0;
    padding: 0.2rem 0 $m-size 0;

    .header__title {
        font-size: $l-size;
        margin: 1rem 0 0.2rem 0;
    }
    
    .header__subtitle {
        font-size: $m-size;
        margin: 0;
        color: $off-white;
        font-weight: 500;
    }
    
    @media screen and (min-width: $desktop-width) {
        margin: 0 0 $l-size 0;
    }
}