.option-wrap {
    font-size: $m-size;
    font-weight: 500;
    padding: $m-size;
    text-align: left;
    display: flex;
    justify-content: space-between;

    .btn-remove-option {
        padding: 0 0.3rem;
        margin: 0;
    }

    p {
        margin: 0;
        padding: 0 $s-size 0 0;
        word-break: break-all;
    }
}