.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal {
    .ReactModal__Overlay {
        transition: opacity 200ms ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ReactModal__Overlay--after-open {opacity: 1;}
    .ReactModal__Overlay--before-close {opacity: 0;}    
}

.option-modal {
    background: $light-blue;
    color: white;
    padding: $m-size;
    max-width: 30rem;
    outline: none;
    word-break: break-all;

    h2 {
        margin: 0.5rem;
        color: $off-white;
    }

    p { font-weight: bold; }
    
    .btn-close-modal {
        width: 100%;
        background: $purple;
        padding: 0.5rem;
        color: white;
        border-bottom: 0.3rem solid darken($purple, 10%);
    }
}