.options-wrap {
    background: $light-blue;
    margin: 0;
    border-bottom: 0.1rem solid lighten($light-blue, 10%);

    .options-title-wrap {
        background: $blue;
        padding: $m-size;
        color: $off-white;
        display: flex;
        justify-content: space-between;
        
        p {
            font-size: 1.9rem;
            font-weight: 600;
            margin: 0;
        }

        .btn-remove-all {
            padding: 0 0.3rem;
        }
    }
}