html {
    font-size: 62.5%; // to make base font size 10px
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    color: white;
    margin: 0;
    background: $blue-black;
    text-align: center;
}

h1 {
    font-size: $l-size;
}

.btn {
    background: unset;
    border: unset;
    color: $off-white;
    font-size: $l-size $m-size;
    font-weight: 500;
    padding: 0.3rem;
    cursor: pointer;
}

button:disabled {
    cursor: default !important;
    opacity: 0.5;
}